<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    package="drupal.forumapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.anewapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.anewapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- To auto-complete the email text field in the login form with the user's emails
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ServerSettingActivity"
            android:label="@string/title_activity_server_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ForumsActivity"
            android:label="@string/title_activity_forums"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ForumTopicsActivity"
            android:label="ForumTopicsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.EditTopicActivity"
            android:label="@string/title_activity_edit_topic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EditCommentActivity"
            android:label="@string/title_activity_edit_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EditForumActivity"
            android:label="@string/title_activity_edit_forum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InfoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainSettingsActivity"
            android:label="@string/title_activity_main_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.RefreshTokenService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.RefreshDataJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".services.MyStartServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.NewTopicsActivity"
            android:label="@string/title_activity_new_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TopicCommentsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.RefreshDataService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>